<div class="login-bg">

    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>

    <div class="login-card">

        <h2>Login Account</h2>
        <p class="subtitle">
            Start learning Vietnamese with VietPhuong
        </p>

        <input type="text" placeholder="Email" [(ngModel)]="email" />

        <input type="password" placeholder="Password" [(ngModel)]="password" />

        <div class="login-options">
            <label>
                <input type="checkbox"> Remember me
            </label>

            <a>Forgot password?</a>
        </div>

        <button (click)="login()">
            Login
        </button>

        <div class="create">
            Don't have an account?
            <a routerLink="/register">Create Account</a>
        </div>

    </div>

</div>