.lesson-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}
.unit-info {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

.unit-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4f46e5;
}

.objective {
  background: #fff8e1;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #92400e;
}
.description {
  color: #555;
  line-height: 1.5;
}
video {
  width: 100%;
  border-radius: 12px;
}

.question-box {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.question-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.question-content img {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
}

.question-content audio {
  margin-top: 10px;
}

.answer-option {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

.answer-option:hover {
  background: #f5f2ff;
}

.answer-label {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.answer-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answer-content img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.answer-content audio {
  height: 30px;
}

.answer-option.correct {
  background: #e6f4ea;
  border: 1px solid #2e7d32;
}

.answer-option.wrong {
  background: #ffe5e5;
  border: 1px solid #d93025;
}

.answer-option.unanswered {
  opacity: 0.6;
}

.btn {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.start-btn {
  background: #7b3fe4;
  color: white;
}

.submit-btn {
  background: #7b3fe4;
  color: white;
}

.result-box {
  margin-top: 20px;
  padding: 15px;
  background: #f4efff;
  border-radius: 10px;
  text-align: center;
}